@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --color-main: #5E3BEE;
  --color-main-hover: #542df1;
  --color-second: #E62872;
  --color-bg-second: #F5FCFF;
  --color-bg-main: #FFFFFF;
  --color-third: #006B6A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* Custom style */

.btn-outline-primary {
  --bs-btn-border-color: var(--color-main);
  --bs-btn-color: var(--color-main);
}

.btn-outline-primary:hover {
  --bs-btn-hover-border-color: var(--color-main);
  --bs-btn-hover-bg: var(--color-main);
}

.btn-primary {
  --bs-btn-bg: var(--color-main);
  --bs-btn-border-color: var(--color-main);
}

.btn-primary:hover {
  --bs-btn-hover-bg: var(--color-main-hover);
}

.form-control {
  border: 2px solid var(--color-main);
}

.form-control:focus {
  border-color: var(--color-main);
  box-shadow: rgba(53, 11, 221, 0.25);
}

.navbar-solid {
  background-color: var(--color-bg-main);
  box-shadow: 0 10px 10px #6b6b6b4d;
  transition: .5s;
}



/* Custom Component style */


#hero-section h1 span {
  color: var(--color-main);
}

#hero-section h1 {
  /* font-size: calc(2.5rem + 1vw); */
  font-size: 55px;
}

#hero-section {
  background-color: var(--color-bg-second);
}


#skill-section .card {
  background-color: var(--color-bg-second);
}

#skill-section .card-icon {
  background-color: var(--color-bg-main);
}


#portfolio-section,
#testimonial-section {
  margin: 200px 0;
}

#testimonial-section .card-star .fa-star{
  color: var(--color-third);
}

#testimonial-section .card{
  border-color: var(--color-third);
}

#testimonial-section, footer {
  background-color: var(--color-bg-second);
}



@media only screen and (max-width: 600px) {
  .navbar {
    background-color: var(--color-bg-main);
  }
  #hero-section .container .row .col-lg-6:nth-child(2) {
    margin-top: 250px;
  }

  #hero-section .container .row .col-lg-6:nth-child(1) h1 {
    font-size: 40px;
  
  } 
  #hero-section .container .row .col-lg-6:nth-child(1) {
    order: 2;
    text-align: center;
    padding-bottom: 200px;
    
  }

  

  footer a, footer h6 {
    text-align: center;
  }

  footer {
    pdding-bottom: 30px;
  }

  
}
